Repository MadProbe/iterator-helpers-polyfill, changes with the labels that .github/labeler.yml gives for each.
All labels: additional methods, standard methods

.github/labeler.yml:

additional methods:
  - ./src/methods/**/additionals/*.ts

standard methods:
  - ./src/methods/**/*.ts

make a note about globals injection
  README.md
Labels: none

ignore some files that are not needed
  .npmignore
Labels: none

make a note about globals injection
  README.md
Labels: none

forgot to add these :/
  declarations/index.d.ts
Labels: none

version 2.1.1
  package.json
Labels: none

empty commit
  .gitignore
  tests/test.js
Labels: none

clrf -> lf
  tests/async/extends-async-iterator.js
  tests/sync/extends-iterator.js
  tests/sync/from-iterable.js
  tests/sync/from-iterator.js
  tests/sync/instance-of-iterator.js
  tests/sync/iterator-prototype-@@toStringTag.js
  tests/sync/iterator-prototype-asIndexedPairs.js
  tests/sync/iterator-prototype-drop.js
  tests/sync/iterator-prototype-every.js
  tests/sync/iterator-prototype-filter.js
  tests/sync/iterator-prototype-find.js
  tests/sync/iterator-prototype-flatMap.js
  tests/sync/iterator-prototype-forEach.js
  tests/sync/iterator-prototype-map.js
  tests/sync/iterator-prototype-reduce.js
  tests/sync/iterator-prototype-some.js
  tests/sync/iterator-prototype-take.js
  tests/sync/iterator-prototype-toArray.js
  tests/test.js
Labels: none

add average method
  package.json
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/average.ts
  src/methods/sync/additionals/all.ts
  src/methods/sync/additionals/average.ts
Labels: additional methods, standard methods

no comments.......
  .eslintrc.cjs
Labels: none

v 2.2.0
  declarations/index.d.ts
  package.json
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/average.ts
  src/methods/async/additionals/chain.ts
  src/methods/async/additionals/chunked.ts
  src/methods/async/additionals/flatten.ts
  src/methods/async/additionals/groupBy.ts
  src/methods/async/additionals/groupByToMap.ts
  src/methods/async/additionals/intersection.ts
  src/methods/async/additionals/intersperse.ts
  src/methods/async/additionals/join.ts
  src/methods/sync/additionals/all.ts
  src/methods/sync/additionals/average.ts
  src/methods/sync/additionals/chunked.ts
  src/methods/sync/additionals/flatten.ts
  src/methods/sync/additionals/groupBy.ts
  src/methods/sync/additionals/groupByToMap.ts
  src/methods/sync/additionals/join.ts
  src/tslib.d.ts
  src/tslib.js
  src/utils/utils.ts
Labels: additional methods, standard methods

forgot to add partition method typings
  declarations/index.d.ts
Labels: none

v 2.2.1
  package.json
Labels: none

update dev dependencies
  package-lock.json
  package.json
Labels: none

why am i so dumb? v 2.2.2 btw
  declarations/index.d.ts
  package.json
Labels: none

:/
  package.json
Labels: none

imma dummy dumb
  declarations/index.d.ts
  package.json
Labels: none

idk why am i so dumb
  package.json
  src/methods/sync/additionals/groupBy.ts
  src/methods/sync/additionals/groupByToMap.ts
Labels: additional methods, standard methods

Method documentation p.1
  README.md
Labels: none

fix reduce
  declarations/index.d.ts
  package.json
  src/methods/async/reduce.ts
  src/methods/sync/reduce.ts
Labels: standard methods

Fix annoying type error related to `symmetricDifference` method
  declarations/index.d.ts
  package.json
Labels: none

fix type definition for filter
  declarations/index.d.ts
Labels: none

fix the type where flatMap returns never
  declarations/index.d.ts
Labels: none

add RNext type argument to flatMap
  declarations/index.d.ts
Labels: none

Update dependencies
  package-lock.json
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Version 2.2.8
  declarations/index.d.ts
  package.json
Labels: none

v2.3.0
  .eslintignore
  .npmignore
  README.md
  declarations/index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/index.ts
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/flatten.ts
  src/methods/async/additionals/groupBy.ts
  src/methods/async/additionals/groupByToMap.ts
  src/methods/async/additionals/partition.ts
  src/methods/async/additionals/sum.ts
  src/methods/async/all.ts
  src/methods/async/indexed.ts
  src/methods/sync/additionals/all.ts
  src/methods/sync/additionals/flatten.ts
  src/methods/sync/additionals/groupBy.ts
  src/methods/sync/additionals/groupByToMap.ts
  src/methods/sync/additionals/partition.ts
  src/methods/sync/additionals/sum.ts
  src/methods/sync/additionals/toAsync.ts
  src/methods/sync/all.ts
  src/methods/sync/indexed.ts
  src/tslib.d.ts
  src/tslib.js
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
  tsconfig.json
Labels: additional methods, standard methods

fix: add support for TypeScript's moduleResolution "node16" and "bundler"
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
Labels: none

fix: add support for TypeScript's moduleResolution "node16" and "bundler"
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
Labels: none

Closes #19 Fix (hopefully) this safari-related bug. Add `inclusive` parameter to `(Async)Iterator.range()`
  README.md
  declarations/index.d.ts
  package-lock.json
  package.json
  src/methods/async/statics/additionals/range.ts
  src/methods/sync/statics/additionals/range.ts
  src/tslib.js
Labels: additional methods, standard methods

Version 2.3.3. Fixes: #20
  package-lock.json
  package.json
  src/utils/utils.ts
Labels: none

fix CI
  .github/workflows/lint.yml
  .github/workflows/node-js.yml
Labels: none

fix tests
  package.json
  tests/async/extends-async-iterator.cjs
  tests/sync/extends-iterator.cjs
  tests/sync/from-iterable.cjs
  tests/sync/from-iterator.cjs
  tests/sync/instance-of-iterator.cjs
  tests/sync/iterator-prototype-@@toStringTag.cjs
  tests/sync/iterator-prototype-asIndexedPairs.cjs
  tests/sync/iterator-prototype-drop.cjs
  tests/sync/iterator-prototype-every.cjs
  tests/sync/iterator-prototype-filter.cjs
  tests/sync/iterator-prototype-find.cjs
  tests/sync/iterator-prototype-flatMap.cjs
  tests/sync/iterator-prototype-forEach.cjs
  tests/sync/iterator-prototype-map.cjs
  tests/sync/iterator-prototype-reduce.cjs
  tests/sync/iterator-prototype-some.cjs
  tests/sync/iterator-prototype-take.cjs
  tests/sync/iterator-prototype-toArray.cjs
  tests/test.cjs
Labels: none

Version 3.0.1
  declarations/index.d.ts
  package.json
Labels: none
