Repository MadProbe/iterator-helpers-polyfill, changes with the labels that .github/labeler.yml gives for each.
All labels: additional methods, standard methods

add (symmetric)difference, intersection
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/difference.ts
  src/methods/async/additionals/intersection.ts
  src/methods/async/additionals/join.ts
  src/methods/async/additionals/symmetricDifference.ts
  src/tslib.js
  tsconfig.json
Labels: additional methods, standard methods

resolve todos
  declarations/index.d.ts
Labels: none

forgot to do this Lol
  src/index.ts
Labels: none

fix(config): i think imma dumb
  src/index.ts
  src/tslib.d.ts
  src/tslib.js
Labels: none

fix(error-proness) for-of -> regular for
  src/index.ts
Labels: none

add node.js workflow
  .github/workflows/node-js.yml
Labels: none

fix(tests): fix tests
  tests/test.js
Labels: none

fix(actions): build -> build-full
  .github/workflows/node-js.yml
Labels: none

why am i forgetting to push some things out?
  src/methods/sync/additionals/chain.ts
  src/methods/sync/additionals/starMap.ts
  src/methods/sync/flatMap.ts
Labels: additional methods, standard methods

add `chunked` method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/chunked.ts
Labels: additional methods, standard methods

doneMoment -> done
  src/methods/async/additionals/tee.ts
  src/methods/sync/additionals/tee.ts
Labels: additional methods, standard methods

add enumerate as alias for asIndexedPairs
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/symmetricDifference.ts
Labels: additional methods, standard methods

add roundrobin method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/roundrobin.ts
Labels: additional methods, standard methods

add heads method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/heads.ts
Labels: additional methods, standard methods

any -> unknown + better types
  src/index.ts
  src/methods/async/additionals/chunked.ts
  src/methods/async/additionals/heads.ts
  src/methods/sync/flatMap.ts
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
  src/wrappers/async.ts
  src/wrappers/sync.ts
Labels: additional methods, standard methods

setup linter for the codebase
  .eslintignore
  .eslintrc.cjs
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/methods/async/additionals/chunked.ts
  src/methods/async/additionals/contains.ts
  src/methods/async/additionals/cycle.ts
  src/methods/async/additionals/dropWhile.ts
  src/methods/async/additionals/takeWhile.ts
  src/methods/async/additionals/tee.ts
  src/methods/async/additionals/zip.ts
  src/methods/async/additionals/zipLongest.ts
  src/methods/async/asIndexedPairs.ts
  src/methods/async/filter.ts
  src/methods/sync/additionals/dropWhile.ts
  src/methods/sync/additionals/takeWhile.ts
  src/methods/sync/additionals/tee.ts
  src/methods/sync/additionals/zip.ts
  src/methods/sync/additionals/zipLongest.ts
  src/methods/sync/filter.ts
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
Labels: additional methods, standard methods

add lint check to CI
  .github/workflows/lint.yml
Labels: none

add `unique` helper method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/unique.ts
  src/tslib.d.ts
  src/tslib.js
  src/utils/utils.ts
Labels: additional methods, standard methods

add `uniqueJustseen`
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/uniqueJustseen.ts
Labels: additional methods, standard methods

add `filterMap` method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/filterMap.ts
Labels: additional methods, standard methods

fix `length` properties of functions
  src/methods/async/additionals/cycle.ts
  src/methods/async/additionals/tee.ts
  src/methods/async/reduce.ts
  src/methods/sync/additionals/tee.ts
  src/methods/sync/reduce.ts
Labels: additional methods, standard methods

better types
  src/tslib.d.ts
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
  src/wrappers/async.ts
  src/wrappers/sync.ts
Labels: none

stricter comments
  .eslintrc.cjs
Labels: none

fix & stricter lint
  .eslintrc.cjs
  declarations/index.d.ts
  src/index.ts
  src/methods/async/additionals/filterMap.ts
  src/methods/async/additionals/tee.ts
  src/methods/sync/additionals/tee.ts
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
  src/wrappers/async.ts
  src/wrappers/sync.ts
Labels: additional methods, standard methods

add `flatten` and `intersperse` methods
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/flatten.ts
  src/methods/async/additionals/intersperse.ts
  src/tslib.d.ts
Labels: additional methods, standard methods

remove useless lastValue
  src/methods/async/additionals/unique.ts
  src/methods/async/additionals/uniqueJustseen.ts
Labels: additional methods, standard methods

improve TNext forwarding
  src/methods/async/additionals/roundrobin.ts
Labels: additional methods, standard methods

add each method
  src/methods/async/additionals/all.ts
  src/methods/async/additionals/each.ts
Labels: additional methods, standard methods

remove conditional / strange TNext forwarding
  src/methods/async/additionals/chunked.ts
  src/methods/async/additionals/difference.ts
  src/methods/async/additionals/filterMap.ts
  src/methods/async/additionals/heads.ts
  src/methods/async/additionals/intersection.ts
  src/methods/async/additionals/intersperse.ts
  src/methods/async/additionals/symmetricDifference.ts
  src/methods/async/additionals/zip.ts
  src/methods/async/additionals/zipLongest.ts
  src/methods/sync/additionals/zip.ts
  src/methods/sync/additionals/zipLongest.ts
Labels: additional methods, standard methods

compress some properties
  rollup.config.js
Labels: none

optimize code size a bit
  src/methods/async/additionals/partition.ts
  src/methods/async/additionals/tee.ts
  src/methods/sync/additionals/tee.ts
  src/tslib.d.ts
  src/tslib.js
Labels: additional methods, standard methods

fix heads
  src/methods/async/additionals/heads.ts
Labels: additional methods, standard methods

fix properties mangle
  rollup.config.js
  src/methods/async/additionals/partition.ts
Labels: additional methods, standard methods

as unknown -> as never && move type to declaration
  src/methods/async/map.ts
  src/methods/async/toArray.ts
  src/methods/sync/map.ts
  src/methods/sync/toArray.ts
  src/utils/iterators.ts
  src/utils/utils.ts
Labels: standard methods

mark arrays readonly where possible
  src/methods/async/additionals/chain.ts
  src/methods/async/additionals/cycle.ts
  src/methods/async/additionals/filterMap.ts
  src/methods/async/additionals/flatten.ts
  src/methods/async/additionals/heads.ts
  src/methods/async/additionals/partition.ts
  src/methods/async/additionals/roundrobin.ts
  src/methods/async/additionals/starMap.ts
  src/methods/async/additionals/tee.ts
  src/methods/async/additionals/zip.ts
  src/methods/async/additionals/zipLongest.ts
  src/methods/sync/additionals/starMap.ts
  src/methods/sync/additionals/tee.ts
  src/tslib.d.ts
  src/utils/safePrivateFields.ts
  src/utils/utils.ts
Labels: additional methods, standard methods

Update README.md
  README.md
Labels: none

fix properties mangle (again)
  rollup.config.js
Labels: none

spaces are important, aren't they?
  src/methods/async/statics/additionals/range.ts
  src/methods/sync/statics/additionals/range.ts
Labels: additional methods, standard methods

forgot to add these :/
  declarations/index.d.ts
Labels: none

ignore some files that are not needed
  .npmignore
Labels: none

.github/labeler.yml:

additional methods:
  - ./src/methods/**/additionals/*.ts

standard methods:
  - ./src/methods/**/*.ts
